@use './colors';

@import './FaqsContents';

/* Faqs container */
.faqs-container {
  background: colors.$white;
  color: colors.$darkPurple;
  padding-inline: 1.75em;
  padding-block-start: 1.75em;
  padding-block-end: 1.5em;
  border-radius: 1em;
  width: 40rem;
  margin-inline: 2rem;
  box-shadow: 0 0 2em #8c699141;
}

/* Fags header */
.faqs-header {
  display: flex;
  column-gap: 0.75em;
  align-items: center;

  /* Star icon */
  > img {
    width: 2rem;
  }

  /* Topic */
  > h1 {
    font-size: 2.5rem;
  }
}