@use './colors';

@import './FaqsMain';

#root {
  min-height: 100dvh;
  background: url('/assets/images/background-pattern-desktop.svg') 
              colors.$lightPink repeat-x top left;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: 1px solid #8781811a;

  &:last-child {
    display: none;
  }
}