section {
  h2 {
    margin-block-end: 0.5em;
  }

  &.section-ingredients {
    strong {
      font-weight: 400;
      color: inherit;
    }
  }

  &.section-nutrition {
    
    hr {
      display: none;
    }
  }
}