@use '../assets' as *;

table {
  width: 100%;
  margin-block-start: 1.5em;
  border-spacing: 0;

  tr:not(tr:last-child) > td {
    border-bottom: 2px solid $lightGrey;
  }

  td {
    padding-block: 0.75em;
    padding-inline-start: 2em;

    &:last-child {
      color: $pri_nutmeg;
      font-weight: 700;
    }
  }
}