$forMobile: 520px;
$forDesktop: 1440px;


@media screen and (max-width: $forMobile) {
  .main-container {
    // display: block;
    padding-block: 2.5em;
  }
  .product-card {
    grid-template-columns: 1fr;
  }
}